@tailwind base;
@tailwind components;
@tailwind utilities;
.input{
  width: 100%;
  padding: 10px;
  background-color: rgb(238, 245, 252);
  /* margin-bottom: 10px; */
  outline: none;
  border-radius :10px ;
}